html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    font-size: 100%;
    font: inherit;

}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

* { Box-sizing: Border-box; }

html, body {
    height: 100%;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/*::-webkit-scrollbar-button {*/
    /*background-image:url('');*/
    /*background-repeat:no-repeat;*/
    /*width:5px;*/
    /*height:20px;*/
/*}*/

/*::-webkit-scrollbar-track {*/
    /*background-color: transparent;*/
/*}*/

/*::-webkit-scrollbar-thumb {*/
    /*-webkit-border-radius: 10px;*/
    /*border-radius: 5px;*/
    /*background-color: #656d78;*/
/*;*/
/*}*/

/*::-webkit-scrollbar-thumb:hover{*/
    /*background-color:lightgray;*/
/*}*/

/*::-webkit-resizer{*/
    /*background-image:url('');*/
    /*background-repeat:no-repeat;*/
    /*width:4px;*/
    /*height:0;*/
/*}*/

/*::-webkit-scrollbar{*/
    /*width: 5px;*/
/*}*/

* {
    box-sizing: border-box;
}

body {
    padding: 5% 0;
    font-size: 18px;
}



#todoapp {
    width: 40rem;
    margin: auto;
    border: 1px solid dimgrey;
}

#header {
    border-bottom: 1px solid dimgrey;
    height: 10%;
    padding: 1rem;
}

#new-todo {
    width: 100%;
    padding: 1rem 2rem 1rem 1rem;
    font-size: 18px;
}

/*section {*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*!*border: 1px solid black;*!*/
/*}*/

#main{
    padding:1%;
}

li {
    margin: 1rem;
    height: auto;
    border: 3px solid green;
}

ul {
    width: 90%;
    padding: 0;
    margin: auto;
}

.completed {
    color: gray;
    text-decoration: line-through;
}

.hidden{
    display: none;
}

/*.readonly*/

/*.1{*/

/*}*/

.text {
    width: 90%;
    text-overflow: ellipsis;
    border: none;
}

.checked {
    text-decoration: line-through;
    color: gray;
}

#submit {
    position: absolute;
    top: 1rem;
    right: 0;
    width: auto;
}

#pagination {
    color: blue;
}

#prev, #next {
    display: inline-block;
    cursor: pointer;
    background-color: lightgray;
    margin: 10px;
    border: 1px solid black;
    width: 25px;
}

#prev:active, #next:active {
    color: darkred;
}

.delete {
    width: 30px;
    height: 30px;
}

form {
    position: relative;
}

.pages{
    padding: 10px;
}

#currentPage{
    color: red;
}


